{% extends 'base2.html' %}

<title>{% block title %}Malaria Diagnosis:: Patients{% endblock %}</title>

{% block content %}

    <div>
        <h3>Patient -{{ patient.firstname }} {{ patient.lastname }}</h3>
    </div>
    <div class="panel with-nav-tabs panel-info">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#dashbord" data-toggle="tab">Patient Dashbord</a></li>
                <li><a href="#clinical" data-toggle="tab">Clinical Records</a></li>

                <li><a href="#diagnosis" data-toggle="tab">Diagnosis Records</a></li>


            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="dashbord">Patient Details
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>Firstname</th>
                            <td>{{ patient.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ patient.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            {% if patient.gender == 1 %}
                                <td>M</td>
                            {% else %}
                                <td>F</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ patient.age }}</td>
                        </tr>
                        <tr>
                            <th>Mobile Number</th>
                            <td>{{ patient.contact }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ patient.address }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a class="btn btn-sm btn-success" href="#"><span
                                    class="glyphicon glyphicon-edit"></span> Print</a>
                                <a class="btn btn-sm btn-info" href="delete/{{ patient.id }}"><span
                                        class="glyphicon glyphicon-pencil"></span> Update</a></td>

                        </tr>

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="clinical">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#clinicalDetails">Add
                        New Clinical Details
                    </button>
                    <table class="table table-responsive">
                        <thead class="alert-default">

                        <tr>
                            <th>Body Mass</th>
                            <th>Body Temperature</th>
                            <th>Diastolic Pressure</th>
                            <th>Systolic Pressure</th>
                            <th>BP Status</th>



                        </tr>
                        </thead>
                        <tbody>


                        {% for patient_record in patient_record %}
                            <tr>
                                <td>{{ patient_record.body_mass }}</td>
                                <td>{{ patient_record.temperature }}</td>
                                <td>{{ patient_record.diastolic }}</td>
                                <td>{{ patient_record.systolic }}</td>
                             {% if  patient_record.systolic > 140 %}
                                    <td><span class="label label-danger">High BP</span></td>
                                {% elif patient_record.systolic < 120 and  patient_record.systolic < 139%}
                                    <td> <span class="label label-warning">Pre-High BP</span></td>
                                {% else %}
                                    <td><span class="label label-info">Normal</span></td>
                                {% endif %}

                            <td>
{#                                <a class="btn btn-sm btn-success edit"#}
{#                                                       href="{% url 'process'  patient_record.id patient.id %}">Diagnosis</a>#}
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#diagnose">Diagnose
                                          </button>
                                <input type="text" hidden="" value="{{ patient_record.id }}" name="id"></input>
                                 </td>







                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>



                </div>
                <div class="tab-pane fade" id="diagnosis">

                </div>

            </div>


        </div>
    </div>
{% endblock %}
