{% extends 'base2.html' %}

<title>{% block title %}Malaria System:: Diagnosis Page{% endblock %}</title>
{% block content %}



    <div class="">
        <a href="{% url 'view_patient_record' patient.id %} "><h4>Patient
            Name- {{ patient.firstname }} {{ patient.lastname }}</h4></a>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
            {% if predict == 0 %}
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="alert alert-success">
                        <h4>Diagnosis is Positive</h4>
                    </div>

                </div>
                <div class="col-md-4">

                </div>

            {% else %}

                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <center>
                        <div class="alert alert-danger">
                            <strong>Likely Malaria Type</strong>

                        </div>


                        <h5>{{ disease.name }}</h5>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#prescribeDrug">Prescribe Drug

                        </button>

                    </center>


                </div>

                <div class="col-md-1"></div>


            {% endif %}


        </div>
    </div>



{% endblock %}